<a href="https://colab.research.google.com/github/NBK-code/Pandas_Basics/blob/main/Lego_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/sample_data/lego_sets.csv')
parent_theme = pd.read_csv('/content/sample_data/parent_themes.csv')

In [3]:
df.head(5)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [9]:
parent_theme.head(10)

    id               name  is_licensed
0    1            Technic        False
1   22            Creator        False
2   50               Town        False
3  112             Racers        False
4  126              Space        False
5  147            Pirates        False
6  155  Modular Buildings        False
7  158          Star Wars         True
8  186             Castle        False
9  204      Designer Sets        False

In [19]:
merged = df.merge(parent_theme, left_on = 'parent_theme', right_on = 'name')

In [20]:
merged.head(5)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [21]:
merged = merged.drop(columns = 'name_y')

merged.head(5)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [22]:
licensed = merged[merged['is_licensed'] == True]

In [27]:
licensed.shape

(1332, 8)

In [28]:
licensed = licensed.dropna(subset = ['set_num'])

In [29]:
licensed.shape

(1179, 8)

In [30]:
licensed.head(5)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [33]:
licensed_star_wars = licensed[licensed['parent_theme'] == 'Star Wars']

In [34]:
licensed_star_wars.shape

(609, 8)

In [35]:
the_force = int((licensed_star_wars.shape[0]*100)/licensed.shape[0])

In [36]:
the_force

51

In [37]:
licensed['is_star_wars'] = False

In [38]:
licensed.head(5)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed,is_star_wars
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True,False
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True,False
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True,False
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True,False
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True,False

In [39]:
licensed.loc[licensed['parent_theme'] == 'Star Wars', 'is_star_wars'] = True

In [57]:
licensed_star_wars = licensed.loc[licensed['is_star_wars'] == True]

In [68]:
licensed_star_wars_count = licensed_star_wars.groupby(['year']).count()['is_star_wars']

In [69]:
licensed_star_wars_count

year
1999    13
2000    26
2001    14
2002    28
2003    32
2004    20
2005    28
2006    11
2007    16
2008    23
2009    39
2010    30
2011    32
2012    43
2013    35
2014    45
2015    58
2016    61
2017    55
Name: is_star_wars, dtype: int64

In [72]:
licensed_total_count = licensed.groupby('year').count()['is_licensed']

In [73]:
licensed_total_count

year
1999     13
2000     31
2001     25
2002     50
2003     40
2004     40
2005     35
2006     24
2007     21
2008     43
2009     48
2010     63
2011     81
2012    109
2013     86
2014     99
2015    107
2016    121
2017    143
Name: is_licensed, dtype: int64

In [76]:
list_licensed_star_wars_count = list(licensed_star_wars_count)

In [78]:
list_licensed_total_count = list(licensed_total_count)

In [79]:
licensed_star_wars_percent = []

In [85]:
for index, value in enumerate(list_licensed_star_wars_count):
  percent = (value*100)/list_licensed_total_count[index]
  licensed_star_wars_percent.append(percent)

In [86]:
licensed_star_wars_percent

[100.0,
 83.87096774193549,
 56.0,
 56.0,
 80.0,
 50.0,
 80.0,
 45.833333333333336,
 76.19047619047619,
 53.48837209302326,
 81.25,
 47.61904761904762,
 39.50617283950617,
 39.44954128440367,
 40.69767441860465,
 45.45454545454545,
 54.205607476635514,
 50.413223140495866,
 38.46153846153846]